/* Clear Fix */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 1.6; /* Menambahkan line-height untuk teks */
}
html,
body {
  scroll-behavior: smooth;
  height: 100%; /* Memastikan seluruh halaman memiliki tinggi penuh */
  background-color: purple;
  background-color: rgb(255, 255, 255);
  background-image: url("https://www.transparenttextures.com/patterns/crissxcross.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
a {
  text-decoration: none; /* Menghilangkan garis bawah pada tautan */
  color: inherit; /* Membuat tautan mewarisi warna teks */
}
img {
  max-width: 100%; /* Memastikan gambar tidak melampaui ukuran elemen induk */
  height: auto; /* Mengatur tinggi gambar secara otomatis */
}
ul {
  list-style-type: none; /* Menghilangkan tanda bullet pada daftar */
}
button {
  cursor: pointer; /* Mengubah kursor menjadi pointer saat di atas tombol */
}

/* Custom Css ----------------------------------------------------------------------------------- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(27, 27, 27);
  color: white;
  padding: 40px;
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Pastikan header berada di atas konten lainnya */
  transition: background-color 0.3s ease; /* Animasi perubahan warna latar belakang */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Bayangan halus di bawah header */
}

/* logo -------------------------------------------- */
.header .logo {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
}

/* logo end ---------------------------------------- */

/* Desktop ----------------------------------------- */
.header .navbar {
  display: none;
}

.header .navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  gap: 20px;
}

.header .navbar ul li a {
  transition: color 0.3s ease;
}

.header .navbar ul li a:hover {
  color: #ffd702; /* Efek hover untuk tautan */
}
/* Desktop end ----------------------------------- */

/* Mobile ----------------------------------------- */

.hamburger {
  font-size: 2.3rem;
  display: block;
}

.btn:hover {
  color: #d6d6d6;
}

.sidebar {
  display: flex;
  font-size: 3.5rem;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #303030; /* Warna gradien */
  color: white;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  transition: transform 0.2s ease-in-out; /* Animasi smooth */
  transform: translateX(100%); /* Default tersembunyi di luar layar */
}

.active {
  transform: translateX(0); /* Tampilkan sidebar */
}

.btn-close {
  display: flex;
  font-size: 3rem;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 1002;
  transition: transform 0.3s ease-in-out, color 0.2s ease;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.sidebar ul li a:hover {
  color: #ffd702; /* Efek hover untuk link */
}

.active {
  display: flex; /* Sidebar terlihat jika ada kelas 'active' */
}

/* Mobile end ------------------------------------- */

/* Content -------------------------------------------------------------------------------------------------*/
/* Banner ----------------------------- */
/* Banner styling */
.banner {
  margin-top: 120px; /* Memberi jarak dari header */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #303030; /* Warna latar belakang */
  color: white;
  text-align: center;
  padding: 80px;
  position: relative;
}

.logo-banner {
  width: 30%;
  margin-top: 80px; /* Memberi jarak dari header */
}

.banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  animation: fadeIn 1.5s ease-in-out; /* Animasi smooth */
}

.banner-title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.banner-description {
  font-size: 2rem;
  margin-bottom: 2rem;
  line-height: 1.8;
}

.banner-btn {
  display: block;
  margin-top: 5rem;
  padding: 15px 30px;
  background-color: #fff;
  color: rgb(33, 33, 33);
  font-size: 1.5rem;
  width: 40%;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.banner-btn:hover {
  background-color: #ffd702;
  color: #fff;
  transform: scale(1.1); /* Efek membesar */
}

/* Animasi untuk elemen */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Banner end ------------------------- */

/* About ----------------------------- */

/* About Section */
.about {
  padding: 50px;
  text-align: center;
}

.about-intro {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.about-title {
  font-size: 4rem;
  font-weight: bold;
  color: #303030;
}

.about-description {
  font-size: 1.25rem;
  color: #555;
  line-height: 1.8;
}

.about-features {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.about-box {
  background: rgb(27, 27, 27);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 80px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-icon {
  font-size: 4rem;
  color: rgb(250, 250, 250);
  margin-bottom: 10px;
  display: block;
}

.about-box:hover {
  transform: translateY(-10px);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}

.about-heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffd702;
  margin-bottom: 15px;
}

.about-text {
  font-size: 2rem;
  color: #fff;
  line-height: 1.6;
}

/* Feature Section ---------------------------------*/
.feature {
  padding: 50px;
  text-align: center;
}

.feature-icon {
  font-size: 4rem;
  color: rgb(250, 250, 250);
  margin-bottom: 10px;
  display: block;
}

.feature-title {
  font-size: 4rem;
  font-weight: bold;
  color: #303030;
  margin-bottom: 15px;
}

.feature-description {
  font-size: 1.25rem;
  color: #555;
  margin-bottom: 30px;
}

.feature-flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feature-box {
  background: rgb(27, 27, 27);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 80px;
  color: #ffd702;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-box:hover {
  transform: translateY(-10px);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}

.feature-heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffd702;
  margin-bottom: 10px;
}

.feature-text {
  font-size: 2rem;
  color: #fff;
  line-height: 1.6;
}

/* Feature end -------------------------- */

/* Try it -------------------------------*/
/* General styling for Try It Now section */
.try-it {
  text-align: center;
  padding: 80px 50px;
  background: #303030;
  color: white;
}

.try-it-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #ffd702;
}

.try-it-description {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.try-it-container {
  display: flex;
  justify-content: space-around;
  margin-top: 8rem;
}

.try-it-image-wrapper {
  margin-bottom: 20px;
}

.try-it-phone {
  width: 250px;
  height: auto;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3); /* Efek bayangan */
  border-radius: 20px; /* Membuat tepi melengkung */
  transition: transform 0.3s ease;
}

.try-it-phone:hover {
  transform: scale(1.05); /* Efek hover */
}

.try-it-download {
  text-align: center;
}

.download-text {
  font-size: 3rem;
  margin-bottom: 10px;
}

.try-it-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.store-link img {
  width: 300px; /* Atur ukuran ikon store */
  transition: transform 0.3s ease;
}

.store-link img:hover {
  transform: scale(1.1); /* Efek hover untuk tombol store */
}

/* end try it ---------------------------- */

/* Team --------------------------------- */
/* General styling for the Our Team section */
.our-team {
  padding: 50px;
  text-align: center;
}

.team-intro {
  margin-bottom: 30px;
}

.team-title {
  font-size: 4rem;
  font-weight: bold;
  color: #303030;
  margin-bottom: 15px;
}

.team-description {
  font-size: 1.25rem;
  color: #555;
  line-height: 1.6;
  max-width: 700px;
  margin: 0 auto;
}

.team-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.team-card {
  background-color: rgb(27, 27, 27);
  color: #ffd702;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  padding: 80px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.team-photo {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 15px;
  max-width: 150px;
}

.team-name {
  font-size: 2.5rem;
  font-weight: bold;
}

.team-role {
  font-size: 2rem;
  color: #fff;
  margin-top: 5px;
}

/* Team end ------------------------------ */

/* Contact ------------------------------- */
/* General styling for the Contact section */
.contact {
  padding: 50px;
  text-align: center;
  margin-bottom: 80px; /* Memberi jarak dari bagian bawah */
}

.contact-title {
  font-size: 4rem;
  font-weight: bold;
  color: #303030;
  margin-bottom: 15px;
}

.contact-description {
  font-size: 1.25rem;
  color: #555;
  margin-bottom: 30px;
  max-width: 700px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.contact-form {
  margin-top: 50px;
}

.form-group input {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 2rem;
  transition: border-color 0.3s ease;
}

.form-group textarea {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: rgb(49, 49, 49);
  outline: none;
}

.contact-btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: rgb(27, 27, 27);
  color: white;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact-btn:hover {
  background-color: #ffd702;
  transform: scale(1.05);
}

/* Contact end --------------------------- */

/* Content end -------------------------------------------------------------------------------------- */

/* Footer ------------------------------------------------------------------------------------------ */
/* Footer styling */
.footer-copy {
  background-color: rgb(27, 27, 27);
  color: white;
  padding: 40px 20px;
  text-align: center;
}

/* Container */
.container-footer {
  max-width: 1200px;
  margin: auto;
}

/* Mobile-First: Susun dalam kolom */
.footer-menu {
  display: flex;
  flex-direction: column; /* Susun dalam kolom untuk tampilan mobile */
  gap: 80px;
  text-align: center;
}

/* Setiap bagian footer */
.footer-section h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #ffd702;
}

.footer-section p,
.footer-links a,
.footer-social a {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links,
.footer-social {
  list-style: none;
  padding: 0;
}

.footer-links li,
.footer-social li {
  margin-bottom: 10px;
}

/* Hover efek */
.footer-links a:hover,
.footer-social a:hover {
  color: #ffd702;
}

.footer-social {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.footer-social li {
  display: inline-block;
}

/* Styling Ikon dengan Frame Kotak */
.footer-social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px; /* Ukuran kotak */
  height: 100px;
  background-color: #ffd702;
  border-radius: 8px; /* Membuat sedikit lengkungan di tepi */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Efek bayangan */
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.footer-social a i {
  color: rgb(0, 0, 0); /* Warna ikon */
  transition: color 0.3s ease;
}

.footer-social a i:hover {
  color: rgb(0, 0, 0); /* Warna ikon */
}

.footer-social a:hover {
  background: rgb(255, 255, 255);
  transform: scale(1.1); /* Efek zoom saat hover */
}

/* Footer bottom */
.footer-bottom {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 0.9rem;
  color: #bbb;
}
/* Footer end -------------------------------------------------------------------------------------- */

/* Media queries ------------------------------------------------------------------------------------------------------------------------------ */

/* **Large Screen (≥1024px): Layout lebih rapi** */
@media screen and (min-width: 1024px) {
  .hamburger {
    display: none; /* Sembunyikan hamburger */
  }

  .header .logo {
    font-size: 1.5rem; /* Ukuran font lebih besar untuk logo */
  }

  .header {
    padding: 20px 40px; /* Padding lebih kecil untuk layar besar */
    font-size: 1.3em; /* Ukuran font lebih kecil */
  }

  .header .navbar {
    display: flex;
  }

  /* Banner queries ---------------------------------------------- */

  .banner {
    margin-top: 0; /* Memberi jarak dari header */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #303030; /* Warna latar belakang */
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    overflow: hidden;
  }

  .banner-content {
    max-width: 1200px;
  }

  .logo-banner {
    width: 15%;
  }

  .banner-title {
    font-size: 2.5rem;
  }

  .banner-description {
    font-size: 1.3rem;
  }

  .banner-btn {
    font-size: 1.3rem;
    width: 20%;
  }

  /* About Media queries ------------------------------------------------------------------------ */

  /* About Section */

  .about-intro {
    max-width: 1200px;
    padding-bottom: 30px;
  }

  .about-title {
    font-size: 2.5rem;
  }

  .about-description {
    font-size: 1.25rem;
    color: #555;
  }

  .about-features {
    flex-direction: row;
  }

  .about-icon {
    font-size: 2.5rem;
  }

  .about-heading {
    font-size: 2rem;
  }

  .about-text {
    font-size: 1.2rem;
  }

  /* Feature media queries ----------------------------------------------------------------------------- */

  .feature-icon {
    font-size: 2rem;
  }

  .feature-title {
    font-size: 2.5rem;
  }

  .feature-description {
    font-size: 1.2rem;
  }

  .feature-flex {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .feature-box {
    width: 600px; /* Ukuran kotak fitur */
    height: 350px;
  }

  .feature-heading {
    font-size: 2rem;
  }

  .feature-text {
    font-size: 1.2rem;
  }

  /* Try it media queries -------------------------------------------------------------------------------------- */

  .try-it-title {
    font-size: 2.5rem;
  }

  .try-it-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 80px;
  }

  .try-it-phone:hover {
    transform: scale(1.05); /* Efek hover */
  }

  /* Our Teams media queries -------------------------------------------------------------------- */

  .team-title {
    font-size: 2.5rem;
  }

  .team-description {
    font-size: 1.2rem;
  }

  .team-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .team-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  }

  /* Contact aka get in touch media queries ------------------------------------------------------------- */
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
    margin-bottom: 80px; /* Memberi jarak dari bagian bawah */
  }

  .contact-title {
    font-size: 2.5rem;
  }

  .contact-description {
    font-size: 1.2rem;
    max-width: 800px;
  }

  .contact-form {
    width: 1000px;
  }

  .form-group input {
    font-size: 1.2rem;
  }

  .form-group textarea {
    font-size: 1.4rem;
  }

  .contact-btn {
    width: 40%;
    font-size: 1.3rem;
  }

  /* Footer media queries ----------------------------------------------------- */
  /* Footer styling */
  .footer-copy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(27, 27, 27);
    color: white;
    padding: 40px 20px;
    text-align: center;
  }

  /* Mobile-First: Susun dalam kolom */
  .footer-menu {
    display: flex;
    flex-direction: row; /* Susun dalam kolom untuk tampilan mobile */
    gap: 80px;
  }

  /* Setiap bagian footer */
  .footer-section h3 {
    font-size: 1.4rem;
  }

  .footer-section p {
    text-align: justify;
  }

  .footer-section p,
  .footer-links a,
  .footer-social a {
    font-size: 1rem;
  }

  .footer-links li,
  .footer-social li {
    margin-bottom: 10px;
  }

  .footer-social li {
    display: inline-block;
  }

  /* Styling Ikon dengan Frame Kotak */
  .footer-social a {
    width: 50px;
    height: 50px;
  }
}
